body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    background-image: url(https://i.postimg.cc/Kv6v58C0/background-pattern-green-leaves-wall-1106661.jpg);
}

/* Estilo del título principal */
h1 {
    color: white;
    font-size: 30px;
    margin: 20px;
    text-align: center;
}

/* Contenedor principal */
.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin: 30px;
    margin-top: 10px;
    color: black;
}

/* Estilo del input de puja */
#puja {
    width: 100px;
    padding: 5px;
    font-size: 14px;
    text-align: center;
}

/* Contenedor de pujas y ganadores */
.contenedorPujasGanadores {
    width: 90%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo de cada item */
.item {
    background: #d29566;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Estilo de las imágenes dentro de los items */
.item img {
    width: 70%;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Estilo de los encabezados dentro de los items */
.item h2 {
    color: white;
    margin: 0;
    padding: 10px;
    background: #543912;
    font-size: 20px;
    border-radius: 10px;
}

/* Estilo de los spans */
span {
    font-weight: bold;
}

/* Estilo de los botones */
button {
    width: 100%;
    padding: 20px;
    background: #2c1c04;
    border: 30px;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    margin-top: 10px;
}

/* Estilo de los enlaces al pasar el ratón por encima */
a:hover {
    background-color: rgb(71, 48, 5);
}

/* Caja de login */
.cajaLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #d29566;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    color: black;
}

/* Estilo de los enlaces */
a {
    text-decoration: none;
    color: white;
}

/* Estilo del logo */
#logo {
    margin-top: 30px;
}

/* Estilo del avatar */
.avatar {
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
    margin: 0 auto 10px;
}

/* Estilo de las imágenes dentro de la clase salir */
.salir img {
    display: flex;
    justify-content: flex;
    width: 50px;
    padding: 10px;
    background: white;
    border: 30px;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    margin: 10px;
}

/* Estilo de los botones */
.boton {
    margin-top: 10px;
}

/* Contenedor de botones */
.botones {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/* Estilo de las imágenes dentro del avatar */
.avatar img {
    width: 100%;
    border-radius: 50%;
}

/* Estilo de las etiquetas */
label {
    display: block;
    margin: 10px 0 5px;
}

/* Estilo de los inputs */
input {
    width: 90%;
    padding: 8px;
    border-radius: 20px;
    border: none;
}

/* Estilo de los mensajes de error */
.mensajeError {
    color: red;
    font-size: 12px;
    margin-top: 10px;
}

/* Estilo de las etiquetas */
label {
    color: white;
    align-items: center;
}